.header {
  text-align: center;
  background-color: #18f0c5;
  border-top: 3px dashed #546a7b;
  border-bottom: 3px dashed #546a7b;
}

h1 {
  font-size: 48px;
  color: blue;
  height: 50px;
}

body{
    font-family: Times New Roman;
    font-size: 16px;
    background-color: lightblue;
    float: center;
    border: 4px solid black;
}
h2 {
  color: blue;
}
h3 {
  color: darkblue;
}
